* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}
header {
    background-color: rgb(43, 43, 43);
    color: white;
    height: 50px;
    padding: 10px 0px;
    position: fixed;
    z-index: 2;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header button {
    display: inline-block;
    position: absolute;
    background-color: transparent;
    font-size: 20px;
    color: white;
    left: 20px;
    font-weight: bold;
    border: none;
    box-sizing: border-box;
    padding: 7px 0px;
}

header button:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
}
header h1 {
    display: inline-block;
    z-index: 3;
    font-size: 40px;
}